.idea
# terraform
.terraform/
.terraform.*
.DS_Store
/infra/terraform.tfstate
/infra/terraform.tfstate.backup
/prefect/flows/load_pipeline/info.json
/prefect/flows/extract_pipeline/data
/prefect/flows/load_pipeline/data/
service_account.json
